.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.bg-orangish {
    background-color: #dd4b39;
}

.bg-darkblue {
    background-color: #3b5998;
}