.active-nav {
    /* color: #2980b9 !important; */
    color: #edf4f6 !important;

}

.logo-color {
    color: #22c3e6
}

.w-custom {
    width: 35px;
}

.bg-glass {
    background: rgba(51, 104, 111, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(51, 104, 111, 0.3);
}